@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500&display=swap');

html,body {
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  font-family: 'Dosis', sans-serif;
}

.primary-title {
  font-size: 90px;
  color: white;
  margin: 10px 0px;
  font-weight: 400;
}
.primary-button {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg,#1c93ff, #13e045);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  font-weight:800;
  letter-spacing: 1px;
}
.primary-button:hover {
  background: linear-gradient(45deg,  #13e045,#1c93ff );
}
.secondary-button {
  color: rgb(121,119,119);
  background: rgb(255,255,255);
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121,119,119);
  margin: 6px;
}
.secondary-button:hover {
  color: rgb(48,48,48);
  border: solid 2px rgb(48,48,48);
}

/*-----Navbar------*/
nav {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-button {
  color: #1c93ff;
  background-color: white;
  font-size: 20px;
  padding: 7px 25px;
  border-radius: 4px;
  border: none;
  margin: 5px 20px;
  font-weight: bold;
}
nav .nav-button:disabled {
  background-color: rgb(181, 180, 180);
  color: rgb(16, 96, 171);
}

nav .logo-container {
  width: 120px;
  margin: 10px;
}

nav .logo-container .logo{
  width: 100%;
}

/*-----Home Page------*/
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
  to bottom,
  rgba(0,0,0,0.65) 0%,
  rgba(0, 0, 0, 0) 100%),
  url('images/land-lake-chicago-mural.jpg');
}
.home {
  margin-top: 20vh;
}
/*--------AuthModal--------*/
.auth-modal {
  top: 70px;
  left: 0;
  right: 0;
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 1000px;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
}

.auth-modal .close-icon {
  float: right;
}

.auth-modal form {
  display: flex;
  flex-direction: column;
}

.auth-modal form label{
  margin: 10px 0;
}

.auth-modal form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

.auth-modal .identity-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-modal form .multiple-input-container input {
  margin-right: 10px;
}

.auth-modal form .multiple-input-container label {
  padding: 10px;
  border: solid 2px rgb(144,144,144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 5px;
  margin-left: 5px;
  width: 100px;
}
.auth-modal form input[type='radio'] {
  display: none;
}

.auth-model .identity-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.identity-form-title {
  font-size: 20px;
  font-weight: bold;
}

.auth-modal form input[type='radio'] + label {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  font-weight:800;
  letter-spacing: 1px;
}

.auth-modal form input[type='radio']:checked + label {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: rgba(195, 195, 195, 0.09) 0px -23px 25px 0px inset, rgba(195, 195, 195, 0.11) 0px -36px 30px 0px inset, rgba(195, 195, 195, 0.05) 0px -79px 40px 0px inset, rgba(195, 195, 195, 0.02) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background: linear-gradient(45deg, #1c93ff, #13e045);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  font-weight: 800;
  letter-spacing: 1px;
}

.auth-modal input[type=email],
.auth-modal input[type=password]
{
  padding: 8px;
  margin: 8px;
  font-size: 17px
}

/*--------Onboarding--------*/
.onboarding form{
  display: flex;
  justify-content: center;
}
.onboarding form label{
  margin: 10px 0;
}
.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: start;
}

.location-multiple-input-container {
  width: 100%;
}
.onboarding form input, select {
  padding: 15px 30px;
  margin: 10px 0px;
  font-size: 15px;
  border: solid 2px rgb(219,219,219);
  border-radius: 10px
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.onboarding form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('images/drop-down-arrow-android-11550097306hqmewqalfj.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 15px)center;
  background-size: 10px;
}

.onboarding form .multiple-input-container {
  display: flex;
  flex-direction: row;
}
.onboarding .identity-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.onboarding form .multiple-input-container select,
.onboarding form .multiple-input-container input {
  margin-right: 10px;
}

.onboarding form .multiple-input-container select,
.onboarding form .multiple-input-container label {
  padding: 10px;
  border: solid 2px rgb(144,144,144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 5px;
  margin-left: 5px;
  width: 100px;
}

.onboarding form input[type='radio'] {
  display: none;
}
.onboard form input[id='loc_'],
.onboarding form input[type='number'] {
  width: 10%;
}

.onboarding form input label {
  justify-content: center;
}

.onboarding form input[type='submit'] {
  justify-content: center;
}
.onboarding form input[type='submit']:hover {
  background-color: rgb(235,235,235)
}

.onboarding form input[type='submit']:active {
  background-color: rgb(75, 207, 129);
}

.identity-form-title {
  font-size: 20px;
  font-weight: bold;
}

.onboarding form input[type='radio'] + label {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  font-weight:800;
  letter-spacing: 1px;
}
.onboarding form input[type='radio']:checked + label {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: rgba(195, 195, 195, 0.09) 0px -23px 25px 0px inset, rgba(195, 195, 195, 0.11) 0px -36px 30px 0px inset, rgba(195, 195, 195, 0.05) 0px -79px 40px 0px inset, rgba(195, 195, 195, 0.02) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background: linear-gradient(45deg, #1c93ff, #13e045);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  font-weight: 800;
  letter-spacing: 1px;
}
.onboarding form .loc-city-state-zip {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  'city state zip';
  grid-column-gap: 10px;
}
input[name="loc_city"] {
  grid-area: city;
}
input[name="loc_state"] {
  grid-area: state;
}
input[name="loc_zip"] {
  grid-area: zip;
}